---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Skills from "../components/Skills.astro";
---

<Layout title="Welcome to Astro." description="No lo se">
    <main>
        <section
            class="relative flex flex-col h-[100vh] items-center justify-center bg-gradient-to-r from-violet-200 to-pink-200 dark:bg-gradient-to-t dark:from-slate-900 dark:to-slate-950 transition-bg"
        >
            <div class="absolute inset-0 overflow-hidden">
                <div
                    class="[mask-image:radial-gradient(ellipse_at_100%_0%,black_40%,transparent_63%)] pointer-events-none invert blur-md bg-center bg-[length:300%_200%] bg-[image:var(--stripes),var(--rainbow)] after:bg-[length:200%_100%] after:bg-[image:var(--stripes),var(--rainbow)] after:animate-[jumbo_60s_linear_infinite] after:bg-fixed after:mix-blend-difference after:absolute after:inset-0 absolute -inset-[10px] opacity-50 dark:bg-[image:var(--stripesDark),var(--rainbow)]"
                >
                </div>
            </div>
            <Hero />
        </section>
        <section
            class="relative flex flex-col justify-center items-center bg-slate-900"
        >
            <Skills />
        </section>
    </main>
</Layout>
