---
import Layout from "../layouts/Layout.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
---

<Layout title="Welcome to Astro." description="No lo se">
    <main>
        <div
            class="relative flex flex-col h-[100vh] items-center justify-center bg-gradient-to-r from-violet-200 to-pink-200 dark:bg-gradient-to-r dark:from-slate-700 dark:to-slate-900 transition-bg"
        >
            <div class="absolute inset-0 overflow-hidden">
                <div
                    class="[mask-image:radial-gradient(ellipse_at_100%_0%,black_40%,transparent_63%)] pointer-events-none invert blur-md bg-center bg-[length:300%_200%] bg-[image:var(--stripes),var(--rainbow)] after:bg-[length:200%_100%] after:bg-[image:var(--stripes),var(--rainbow)] after:animate-[jumbo_60s_linear_infinite] after:bg-fixed after:mix-blend-difference after:absolute after:inset-0 absolute -inset-[10px] opacity-50 dark:bg-[image:var(--stripesDark),var(--rainbow)]"
                >
                </div>
            </div>
            <h1
                class="relative flex items-center text-5xl font-bold text-gray-800 dark:text-white dark:opacity-80 transition-colors"
            >
                Juan
                <span
                    class="ml-1 rounded-xl bg-current p-2 text-[0.7em] leading-none"
                >
                    <span class="text-white dark:text-black">😊</span>
                </span>
            </h1>
        </div>
    </main>
</Layout>
