---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Proyectos from "../components/Proyectos.astro";
import Experience from "../components/Experience.astro";
---

<Layout title="Welcome to Astro." description="No lo se">
    <main>
        <section
            class="relative flex flex-col h-[100dvh] items-center justify-center bg-gradient-to-t from-violet-100 to-pink-200 dark:bg-gradient-to-t dark:from-blue-950 dark:to-slate-950 transition-bg"
        >
            <div class="absolute inset-0 overflow-hidden">
                <div
                    class="[mask-image:radial-gradient(ellipse_at_100%_0%,black_40%,transparent_63%)] pointer-events-none invert blur-md bg-center bg-[length:300%_200%] bg-[image:var(--stripes),var(--rainbow)] after:bg-[length:200%_100%] after:bg-[image:var(--stripes),var(--rainbow)] after:animate-[jumbo_60s_linear_infinite] after:bg-fixed after:mix-blend-difference after:absolute after:inset-0 absolute -inset-[10px] opacity-50 dark:bg-[image:var(--stripesDark),var(--rainbow)] hidden md:block"
                >
                </div>
            </div>
            <Hero />
        </section>
        <section
            class="flex flex-col justify-center items-center bg-violet-100 dark:bg-blue-950 py-10 px-2"
            id="experiencia"
            data-section="experiencia"
        >
            <Experience />
        </section>
        <section
            class="flex justify-center items-center bg-violet-100 dark:bg-blue-950 py-10 px-2"
            id="proyectos"
            data-section="proyectos"
        >
            <Proyectos />
        </section>
    </main>
</Layout>
