---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Proyectos from "../components/Proyectos.astro";
import Experience from "../components/Experience.astro";
import SobreMi from "../components/SobreMi.astro";
---

<Layout
    title="Juan Morales"
    description="Desarrollador Front-End con 3 años de experiencia. Este es mi portfolio personal donde muestro mis proyectos y mi experiencia."
>
    <main>
        <section
            class="relative flex flex-col h-[100vh] items-center justify-center bg-gradient-to-t from-violet-100 to-pink-200 dark:bg-gradient-to-t dark:from-gray-950 dark:to-slate-950 transition-bg"
        >
            <div class="absolute inset-0 overflow-hidden">
                <div
                    class="[mask-image:radial-gradient(ellipse_at_100%_0%,black_40%,transparent_63%)] pointer-events-none invert blur-md bg-center bg-[length:300%_200%] bg-[image:var(--stripes),var(--rainbow)] after:bg-[length:200%_100%] after:bg-[image:var(--stripes),var(--rainbow)] md:after:animate-[jumbo_60s_linear_infinite] after:bg-fixed after:mix-blend-difference after:absolute after:inset-0 absolute -inset-[10px] opacity-50 dark:bg-[image:var(--stripesDark),var(--rainbow)]"
                >
                </div>
            </div>
            <Hero />
        </section>
        <section
            class="flex flex-col justify-center items-center bg-violet-100 dark:bg-gray-950 py-10 px-4"
            id="experiencia"
            data-section="experiencia"
        >
            <h2 class="pb-4 text-4xl text-violet-400">Experiencia</h2>
            <Experience />
        </section>
        <section
            class="flex flex-col justify-center items-center bg-violet-100 dark:bg-gray-950 py-10 px-2"
            id="proyectos"
            data-section="proyectos"
        >
            <h2 class="pb-4 text-4xl text-violet-300">Proyectos</h2>
            <Proyectos />
        </section>
        <section
            class="flex flex-col justify-center items-center bg-violet-100 dark:bg-gray-950 py-10 px-2"
            id="sobre-mi"
            data-section="sobre-mi"
        >
            <h2 class="pb-4 text-4xl text-violet-300">Sobre mi</h2>
            <SobreMi />
        </section>
    </main>
</Layout>
