---
const experiencia = [
    {
        fecha: "Octubre 2022 - Actualidad",
        puesto: "Freelance Web Developer",
        descripcion:
            "Mi experiencia se extiende al desarrollo de aplicaciones web, donde utilizo frameworks modernos como Next.js y Astro.js para crear interfaces interactivas y dinámicas. Además, me especializo en la optimización del rendimiento, implementando estrategias como la carga diferida de recursos y la mejora del tiempo de carga para garantizar una experiencia de usuario fluida. No solo creo sitios web, sino que también ofrezco servicios de mantenimiento continuo, asegurando que las plataformas permanezcan actualizadas, seguras y eficientes.",
    },
    {
        fecha: "Septiembre 2021 - Octubre 2022",
        puesto: "Diseñador Gráfico",
        descripcion:
            "Elaboración de materiales institucionales, así como imágenes para la divulgación de nuevas empresas, aniversarios y avisos importantes. Revisión de documentos con cliente, definición y priorización del backlog junto con al equipo",
    },
    {
        fecha: "Marzo 2019 - Septiembre 2021",
        puesto: "WordPress Developer",
        descripcion:
            "Hacia trabjos a empresas locales de manera autonoma usando Elementor, WooCommerce, HTML, CSS, JavaScript.",
    },
];
---

<ol
    class="relative border-s dark:border-blue-200 border-blue-950 w-full max-w-5xl"
>
    {
        experiencia.map((exp, index) => (
            <li class="mb-10 ms-4">
                <div class="absolute w-3 h-3 bg-blue-700 rounded-full mt-1.5 -start-1.5 border border-black dark:border-blue-100 dark:bg-blue-100" />
                <div class="absolute w-3 h-3 bg-blue-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-blue-100 dark:bg-blue-100 blur-md" />
                <time class="mb-1 text-md font-normal leading-none text-gray-700 dark:text-gray-300">
                    {exp.fecha}
                </time>
                <h3 class="text-2xl font-semibold bg-gradient-to-br from-blue-600 to-blue-900 bg-clip-text text-transparent dark:from-blue-200 dark:to-blue-400">
                    {exp.puesto}
                </h3>
                <p class="mt-4 text-base font-semibold dark:font-normal text-gray-900 dark:text-gray-200 text-pretty">
                    {exp.descripcion}
                </p>
            </li>
        ))
    }
</ol>
