---
import AstroIcon from "./icons/AstroIcon.astro";
---

<footer class="flex justify-center items-center w-full py-6">
    <p class="text-lg flex gap-2">
        Hecho con <a
            href="https://astro.build/"
            target="_blank"
            class="flex justify-center items-center text-orange-500 font-bold"
            >Astro <AstroIcon /></a
        > y ❤️ por <a
            href="https://github.com/Juanmorales1810"
            target="_blank"
            class="font-bold"
        >
            Juan Morales</a
        >
    </p>
</footer>
