---
import LinkedIn from "./icons/LinkedIn.astro";
import GitHub from "./icons/Github.astro";
---

<article
    class="flex flex-col items-center justify-center gap-10 z-20 w-full max-w-2xl h-60 md:flex-row"
>
    <div class="w-1/2 relative md:w-1/3">
        <img
            src="/Profile.webp"
            alt="Profile picture of the author"
            class="relative w-full z-30 object-cover rounded-full"
        />
        <img
            src="/Profile.webp"
            alt="Profile picture of the author"
            class="absolute z-20 top-0 left-0 blur-xl w-full object-cover rounded-full"
        />
    </div>
    <div class="w-1/2 md:w-2/3">
        <div>
            <h2
                class="text-4xl font-bold text-slate-700 dark:text-slate-200 pb-4"
            >
                Hola 👋, soy Juan Morales.
            </h2>
            <p class="text-lg text-slate-700 dark:text-slate-100 font-bold">
                Tengo mas de 3 años de experencia. Soy desarrollador Fron-End y
                vivo en Argentina - San Juan. Especializado en dessarrolo de web
                apps
            </p>
        </div>
        <div class="flex gap-4 mt-4">
            <a
                href="https://www.linkedin.com/in/juan-morales-3b3b3b3b3/"
                target="_blank"
                class="flex justify-center items-center gap-1 px-2 py-1 text-lg border-[1px] border-slate-600 rounded-xl text-slate-700 dark:text-slate-100 dark:border-slate-300"
            >
                LinkedIn
                <LinkedIn class="w-2 h-2 inline-block" />
            </a>
            <a
                href="https://www.github.com/juanmorales11"
                target="_blank"
                class="flex justify-center items-center gap-1 px-2 py-1 text-lg border-[1px] border-slate-600 rounded-xl text-slate-700 dark:text-slate-100 dark:border-slate-300"
            >
                GitHub
                <GitHub class="w-2 h-2 inline-block" />
            </a>
        </div>
    </div>
</article>
